darkColor = #2e2b29
mainColor = #fcff00
blackColor = #222
whiteColor = #fff

mainFont = 'Droid Serif', serif
sansFont = 'Droid Sans', sans-serif
monoFont = 'Droid Sans Mono', sans-serif, monospace

horizontalSpace = 20px