//---
	title: Contribute

p Verstat <i>is</i> and <i>always</i> will be open source project.
p Feel free to fork any Verstat-related repository and make pull requests <a href="https://github.com/search?q=verstat" target="_blank">at GitHub</a>.
p Any questions and proposals &rarr; <a href="mailto:verstat@se7ensky.com">verstat@se7ensky.com</a>.

h2 Contributors
ul
	li
		a(href="http://www.se7ensky.com/", target="_blank") Se7enSky
		|  – birthplace
	li
		a(href="https://github.com/krava", target="_blank") @krava
		|  – maintainer, core and plugins
	li
		a(href="https://github.com/romavab", target="_blank") @romavab
		|  – verstat.info website maintainer
	li
		a(href="http://kiselev.ua", target="_blank") Kiselev
		|  – logo designer