//---
	title: Contribute

p Verstat <i>is</i> and <i>always</i> will be open source project.
p Feel free to fork any Verstat-related repository and make pull requests <a href="https://github.com/search?q=verstat" target="_blank">at GitHub</a>.
p Any questions and proposals &rarr; <a href="mailto:verstat@se7ensky.com">verstat@se7ensky.com</a>.

ul.inline
	li: <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fverstat.info&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=117473271673946" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:30px; width: 200px;" allowTransparency="true"></iframe>
	li: iframe(src="http://ghbtns.com/github-btn.html?user=Se7enSky&repo=verstat&type=watch", height="30", width="70", frameborder="0", scrolling="0", style="width:70px; height: 30px;", allowTransparency="true")
	li: iframe(src="http://ghbtns.com/github-btn.html?user=Se7enSky&repo=verstat&type=fork", height="30", width="70", frameborder="0", scrolling="0", style="width:70px; height: 30px;", allowTransparency="true")
	li: iframe(src="http://ghbtns.com/github-btn.html?user=Se7enSky&type=follow", height="30", width="168", frameborder="0", scrolling="0", style="width:168px; height: 30px;", allowTransparency="true")

h2 Contributors
ul
	li
		a(href="http://www.se7ensky.com/", target="_blank") Se7enSky
		|  – birthplace
	li
		a(href="https://github.com/krava", target="_blank") @krava
		|  – maintainer, core and plugins
	li
		a(href="https://github.com/romavab", target="_blank") @romavab
		|  – verstat.info website maintainer
	li
		a(href="http://kiselev.ua", target="_blank") Kiselev
		|  – logo designer
