//---
	title: Contribute

p Verstat <i>is</i> and <i>always</i> will be open source project.
p Feel free to fork any Verstat-related repository and make pull requests.

h2 Contributors
ul
	li
		a(href="https://github.com/krava") @krava
		|  – maintainer, core and plugins
	li
		a(href="https://github.com/romavab") @romavab
		|  – verstat.info website maintainer
	li
		a(href="http://kiselev.ua") Kiselev
		|  – logo designer