//---
	title: Credits

p.
	Verstat is born in grace and love.
	After years of CMS-based, then Grunt and Docpad-based
	frontend development, we just made our own vehicle.
	Of course, best in industry :)
p.
	Originally written by <a href="http://github.com/krava">Ivan Kravchenko</a>
	at <a href="http://www.se7ensky.com/">Se7enSky studio</a>.