//---
	title: Plugins

h2 General purpose

dl
	dt watch
	dd Watch source files for changes and rebuild. It is simple but very smart.<br>Only relevant files are rebuilt.

	dt livereload
	dd Do livereload on file changes. HTML and JS reloads whole page, while CSS is applied without page reload.

	dt sprockets
	dd
		| Concat css and js files in sprockets-like way:
		br
		pre.inline: code.language-javascript /*= require ... */
		|  and  
		pre.inline: code.language-javascript /*= require_tree ... */
		br
		.example Examples: <a href="https://github.com/Se7enSky/verstat.info/blob/master/src/assets/verstat.min.js" target="_blank">verstat.min.js</a> and <a href="https://github.com/Se7enSky/verstat.info/blob/master/src/assets/verstat.min.css" target="_blank">verstat.min.css</a>.

	dt globals
	dd &nbsp;


h2 Preprocessors

dl
	dt coffee
	dd
		| CoffeeScript is a little language that compiles into JavaScript.
		br
		a(href="http://coffeescript.org/", target="_blank") http://coffeescript.org/
	dt jade
	dd
		| Jade is a high performance template engine heavily influenced by Haml and implemented with JavaScript
		br
		a(href="http://jade-lang.com/", target="_blank") http://jade-lang.com/
	dt stylus
	dd 
		| Expressive, dynamic, robust CSS.
		br
		a(href="http://learnboost.github.io/stylus/", target="_blank") http://learnboost.github.io/stylus/
	dt less
	dd 
		| Less is a popular CSS pre-processor.
		br
		a(href="http://lesscss.org/", target="_blank") http://lesscss.org/
	dt marked
	dd
		| Markdown is a plain text formatting syntax.
		br
		a(href="http://en.wikipedia.org/wiki/Markdown", target="_blank") http://en.wikipedia.org/wiki/Markdown


h2 Postprocessors

dl
	dt prettify-html
	dd do correct HTML prettifying

	dt uglify
	dd JavaScript mangler/minifier

	dt csso
	dd Yandex's CSS optimizer/minifier

	dt cssmin
	dd port of YUICompressor for CSS

	dt group-css-media-queries
	dd don't be scared on preprocessor output, media query sections will be grouped!


h2 BEM

p Plugins related to Block-Element-Modifier methodology. More info at&nbsp;
	a(href="http://bem.info") bem.info
dl
	dt bemto
	dd kizu's bemto smart mixins for jade. Depends on bem plugin.

	dt bem
	dd generic bem boilerplate

	dt jadebem [deprecated]
	dd our old simple mixins for jade. Deprecated in favor of bemto.


h2 Other plugins
dl
	dt moment
	dd adds moment.js to templates, for date formatting
