//---
	title: Getting started

h2 Prerequisites
ol
	li Install fresh stable Node.JS with NPM from <a target="_blank" href="http://nodejs.org/">official website</a>.
	li Install Verstat <abbr title="Command Line Interface">CLI</abbr> tool: 
		pre: code.language-bash npm install -g verstat-cli

h2 New project
ol
	li Create project dir, open terminal at this directory.
	li Initialize empty project: 
		pre: code.language-bash verstat init
	li Install your favorite plugins:
		pre: code.language-bash verstat install watch livereload jade coffee stylus
	li Start Verstat!
		pre: code.language-bash verstat serve
	li Edit files in src directory :)

h2 Generate static website
pre: code.language-bash verstat generate
p ... and take output from <b>out</b> directory.