//---
	title: Getting started

h2 Prerequisites
ol
	li Install fresh stable Node.JS with NPM from <a href="http://nodejs.org/">official website</a>.
	li Install Verstat CLI tool: <code>npm install -g verstat-cli</code>.

h2 New project
ol
	li Create project dir, open terminal at this directory.
	li Initialize empty project: <code>verstat init</code>.
	li Install your favorite plugins: <code>verstat install watch livereload jade coffee stylus</code>.
	li Start Verstat! <code>verstat serve</code>
	li Edit files in src directory :)