//---
	title: WTF is Verstat?

p.
	Verstat is born in grace and love.
	After years of CMS-based, then Grunt and Docpad-based
	frontend development, we just made our own vehicle.
	Of course, best in industry :)