+e.item
	+e.link(href="#wtf", title="") What is it?
+e.item
	+e.link(href="#start", title="") Getting started
+e.item
	+e.link(href="#plugins", title="") Plugins
+e.item
	+e.link(href="https://github.com/se7ensky/verstat", title="", target="_blank") GitHub