.menu
	clearfix()
	margin 0 -10px
	&__item
		float left
		margin 0
		color whiteColor
	&__link
		color inherit
		display inline-block
		text-decoration none
		padding 12px 10px 10px
		&:hover
			text-decoration underline
		&:active
			opacity .8