.intro
	display block
	height 500px
	padding 50px 0
	background url("i/bg.jpg") top center
	box-shadow inset 0 0 250px rgba(0, 0, 0, 0.7)
	font-family sansFont
	&__logo
		max-width 400px
		margin 30px auto
		img
			width 100%
	&__description
		color rgba(255, 255, 255, 0.7)
		max-width 980px
		margin 40px auto
		text-align center
		font-size 220%
		letter-spacing 1px
	&__navigation
		.menu
			list-style none
			padding 0
			margin 0
			text-align center
			&__item
				float none
				margin 0
				padding 0
				display inline-block
			&__link
				&, &:hover, &:active, &:visited
					color whiteColor
