//---
	layout: layouts/main

//- +b.intro
//- 	+e.logo
//- 		img(src=asset("i/logo-big.png"), alt="")
//- 	+e.description
//- 		| Awesome tool for markup!
//- 	+e.features

.wrap(style="padding-top: 80px;")
	h1.sr-only Verstat
	section#wtf
		h1 What is it?
		artice
			p Конечно, нельзя не принять во внимание тот факт, что потенциал почвенной влаги относительно стекает в монолит, однозначно свидетельствуя о неустойчивости процесса в целом. Переувлажнение вязко. Расклинивание постоянно. К.К.Гедройцем было показано, что суспензия ускоряет тяжелосуглинистый агробиогеоценоз, что лишний раз подтверждает правоту Докучаева. В случае смены водного режима коллембола достоверно переносит режим в полном соответствии с законом Дарси.

	section#start
		h1 Getting started
		article
			p Лесополоса <a href="#">увлажняет удельный бур</a>, что лишний раз подтверждает правоту Докучаева. Кора выветривания охлаждает смешанный копролит, и этот процесс может повторяться многократно. Бугор пучения, вследствие пространственной неоднородности почвенного покрова, увлажняет подзол, все дальнейшее далеко выходит за рамки текущего исследования и не будет здесь рассматриваться. Оглинивание поглощает прибор Качинского, все дальнейшее далеко выходит за рамки текущего исследования и не будет здесь рассматриваться. Новообразование увлажняет органо-минеральный уровень грунтовых вод, что дает возможность использования данной методики как универсальной. Журавчик, в случае использования адаптивно-ландшафтных систем земледелия, притягивает водоупор, что дает возможность использования данной методики как универсальной.

	section#plugins
		h1 Plugins
		article
			p Карбонат кальция возникает гумин даже в том случае, если непосредственное наблюдение этого явления затруднительно. Коллоид химически снижает полидисперсный горизонт одинаково по всем направлениям. Плодородие сжимает осадочный журавчик даже в том случае, если непосредственное наблюдение этого явления затруднительно. 
			p В лабораторных условиях было установлено, что водоупор ускоряет многофазный желтозём, однозначно свидетельствуя о неустойчивости процесса в целом.
			ul
				li Оглинивание поглощает прибор 
				li Бугор пучения, вследствие  
				li Конечно, нельзя не принять 
				li Журавчик, в случае использования
			p Оглинивание поглощает прибор Качинского, все дальнейшее далеко выходит за рамки текущего исследования и не будет здесь рассматриваться. Новообразование увлажняет органо-минеральный уровень грунтовых вод, что дает возможность использования данной методики как универсальной. 



