//---
	layout: layouts/main

//- +b.intro
//- 	+e.logo
//- 		img(src=asset("i/logo-big.png"), alt="")
//- 	+e.description
//- 		| Awesome tool for markup!
//- 	+e.features

.wrap(style="padding-top: 80px;")
	h1.sr-only Verstat

	mixin show-section(name)
		- var section = queryFile({ fullname: "content/" + name })
		section(id=name)
			h1= section.title
			article!= section.processed
	
	+show-section("wtf")
	+show-section("start")
	+show-section("contribute")
	+show-section("credits")
