html
	background #f5f5f5
body
	font-family mainFont
	max-width 1400px
	margin 0 auto
	background white
	clearfix()

.wrap
	display block
	width 90%
	max-width 980px
	margin 0 auto

.content
	font-size 20px
	line-height 1.5
	color blackColor
	position relative
	z-index 1
	ul
	ol
		padding-left 8%
		margin-bottom horizontalSpace
	ul li
		list-style disc
	ol li
		list-style decimal
	ul.inline
		margin 0
		padding 0
		li
			margin 0 
			display inline
			padding 0
			list-style none
	a
		color #1e0fbe
		text-decoration none
		&:hover
			text-decoration underline
		&:active
			opacity .8
		&:visited
			color #609
	dl
		font-size 80%
		margin-bottom horizontalSpace
		clearfix()
		dt
			float left
			width 30%
			padding-right 5%
			font-weight bold
			text-align right
		dd
			float left 
			width 70%
			margin-bottom horizontalSpace
	.example
		font-style italic
		margin-top 10px
		font-size 90%
		opacity .7
		&:hover
			opacity 1

pre.inline
	display inline-block
	margin-top 0 !important
	padding-top 0 !important
	margin-bottom 0 !important
	padding-bottom 0 !important
	vertical-align middle

pre, code
	font-family monoFont !important

section
	padding 50px 0
	clearfix()

h1, h2, h3, h4, h5
	font-family sansFont

h1
	font-size 200%
	brdr = 12px
	space = 12px
	border-left brdr solid mainColor
	padding-left space
	margin-left (brdr + space) * (-1)
	margin-bottom horizontalSpace
h2
	font-size 120%
	font-weight bold
	margin-bottom horizontalSpace
	margin-top (horizontalSpace * 2)
h3
	font-size 130%

p
	margin-bottom horizontalSpace
