extends root

block styles
	link(rel="stylesheet", href=asset("verstat.min.css"))

block scripts
	script(src=asset("verstat.min.js"))

block root
	+b.header.hidden
		.wrap
			a.logo(href="http://verstat.info", title="")
				img(src=asset("i/logo.png"), alt="Verstat")
			+b("ul").menu: +i
	.content
		!= content
