extends root

block styles
	link(rel="stylesheet", href=asset("verstat.min.css"))

block scripts
	script(src=asset("verstat.min.js"))
	<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24335284 = new Ya.Metrika({id:24335284, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24335284" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

block root
	+b.header.hidden
		.wrap
			a.logo(href="http://verstat.info", title="")
				img(src=asset("i/logo.png"), alt="Verstat")
			+b("ul").menu: +i
	.content
		!= content
	+b.footer
		p.text-center
			img(src=asset("i/made-in-ukraine.png"), alt="Made in Ukraine", width="110")
