doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title= site.title

		meta(property="og:title", content="Verstat")
		meta(property="og:description", content="Verstat is a Jedi's tool, intended to simplify and automate website development process.")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://verstat.info/")
		meta(property="og:image", content="http://verstat.info/assets/i/logo-big.png")

		link(href=asset("i/favicon.png"), rel="shortcut icon", type="image/x-icon")
		//- link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic', rel='stylesheet', type='text/css')

		block styles
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
	body
		block root
			!= content
		block scripts